header{
    display: flex;
    justify-content: center;
    width:100%;
    padding-bottom: 2rem;
}

header > h3{
    margin:0 2rem;
}

.grid{
    width:606px;
    height:606px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 200px;
    width: 200px;
    border: solid black 1px;
}

.mole{
    /* background-image: url('/images/mole.jpg');
    background-size: cover; */
    background-color: blue;
}

.whacked{
    /* background-image: url('/images/whacked.jpg');
    background-size: cover; */
    background-color: red;
}