body {
    background-color: #000;
    color: #fff;
    padding: 0;
    margin: 0;
}

main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    position: relative;
}

#eyes,
#eyes .eye {
    position: absolute;
}

.eye {
    background-color: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}